@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap&subset=cyrillic-ext");

* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

aside,
nav,
footer,
header,
section {
	display: block;
}

html {
	font-size: 16px;
}

html,
body {
	height: 100%;
	min-width: 320px;
}

body {
	line-height: 1;
	font-family: "Roboto", sans-serif;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: "Roboto", sans-serif;
	font-size: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
	background-color: inherit;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: none;
	cursor: pointer;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

/*
&::-webkit-scrollbar {
	display: none;
}
*/

body {
	color: #666;
}

body._lock {
	overflow: hidden;
}

.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

._container {
	max-width: 1170px;
	margin: 0 auto;
}

.button {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	padding: 0px 0px;
}

.button._fw {
	width: 100%;
}

.select {
	position: relative;
}

.select__item {
	position: relative;
}

.select__title {
	color: #000;
	border: 1px solid #d9d9d9;
	background-color: #fff;
	cursor: pointer;
	border-radius: 4px;
}

.select__value {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 14px;
	height: 30px;
	padding: 0px 15px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
}

.select__value span {
	height: 1em;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}

.select__value:before {
	content: "";
	display: inline-block;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	width: 11px;
	height: 7px;
	background: url("../img/icons/select.svg") center/100% no-repeat;
}

.select__input {
	width: 100%;
	background-color: transparent;
	height: 100%;
}

.select__options {
	color: #000;
	position: absolute;
	top: 29px;
	border-radius: 0 0 4px 4px;
	min-width: 100%;
	left: 0;
	background-color: #fff;
	border-top: 0;
	border: 1px solid #d9d9d9;
	border-top: 0;
	font-size: 14px;
	padding: 10px 0px 5px 0px;
}

.select__option {
	cursor: pointer;
	padding: 5px 15px;
	margin: 0px 0px 0px 0px;
}

.select._active {
	z-index: 5;
}

.select._active .select__value:before {
	-webkit-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	transform: rotate(-180deg);
}

.select._active .select__options {
	display: block;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
textarea:focus {
	outline: none;
}

.input {
	border-radius: 0 !important;
	width: 100%;
	display: block;
	padding: 0px 20px;
}

textarea.input {
	resize: none;
	padding: 0px 0px;
}

.checkbox {
	position: relative;
}

.checkbox__input {
	position: absolute;
	width: 0;
	height: 0;
	opacity: 0;
	visibility: hidden;
}

.checkbox__input:checked+.checkbox__text:before {
	background: #fff url("../img/icons/check.svg") center no-repeat;
}

.checkbox__text {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: relative;
	font-size: 16px;
	color: #ffffff;
	letter-spacing: -0.3px;
	line-height: calc(20 / 16);
	cursor: pointer;
}

.checkbox__text:before {
	content: "";
	-ms-flex-item-align: start;
	align-self: flex-start;
	margin: 0px 14px 0px 0px;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 20px;
	flex: 0 0 20px;
	left: 0;
	top: 0;
	width: 20px;
	height: 18px;
	background: #fff;
	border: 1px solid #a7a9ac;
}

.checkbox a {
	color: #fff;
	text-decoration: underline;
}

.checkbox._error .checkbox__text:before {
	border: 1px solid #ee1212;
}

.options {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
}

.options__item {
	position: relative;
	cursor: pointer;
}

.options__input {
	position: absolute;
	width: 0;
	height: 0;
	opacity: 0;
	left: 0;
	top: 0;
	visibility: hidden;
}

.options__input:checked+.options__text:after {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.options__text {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: relative;
	font-size: 16px;
	color: #ffffff;
	letter-spacing: -0.3px;
	line-height: calc(20 / 16);
}

.options__text:before {
	content: "";
	-ms-flex-item-align: start;
	align-self: flex-start;
	margin: 0px 14px 0px 0px;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 20px;
	flex: 0 0 20px;
	left: 0;
	top: 0;
	border-radius: 50%;
	width: 20px;
	height: 18px;
	background: #fff;
	border: 1px solid #a7a9ac;
}

.options__text:after {
	content: "";
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #77243a;
	position: absolute;
	left: 5px;
	top: 4px;
}

.rating {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	font-size: 40px;
	line-height: 0.75;
	-webkit-transition: opacity 0.3s ease 0s;
	-o-transition: opacity 0.3s ease 0s;
	transition: opacity 0.3s ease 0s;
}

.rating.rating_sending {
	opacity: 0.2;
}

.rating.rating_set .rating__active,
.rating.rating_set .rating__item {
	cursor: pointer;
}

.rating__body {
	position: relative;
}

.rating__body::before {
	content: "★★★★★";
	display: block;
}

.rating__active {
	position: absolute;
	width: 0%;
	height: 100%;
	top: 0;
	left: 0;
	overflow: hidden;
}

.rating__active::before {
	content: "★★★★★";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	color: #ffd300;
}

.rating__items {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.rating__item {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 20%;
	flex: 0 0 20%;
	height: 100%;
	opacity: 0;
}

.rating__value {
	font-size: 50%;
	line-height: 1;
	padding: 0px 0px 0px 10px;
}

.quantity {
	width: 88px;
	height: 40px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	border: 1px solid rgba(166, 166, 166, 0.45);
}

.quantity__button {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 30px;
	flex: 0 0 30px;
	position: relative;
	cursor: pointer;
}

.quantity__button::before,
.quantity__button::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	margin: 0px 0px 0px -4.5px;
	background-color: #a6a6a6;
	width: 9px;
	height: 1px;
}

.quantity__button_plus::before {
	-webkit-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

.quantity__input {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
}

.quantity__input input {
	height: 100%;
	color: #a6a6a6;
	font-size: 12px;
	width: 100%;
	text-align: center;
}

.row:after {
	display: block;
	content: "";
	clear: both;
}

.rub:after {
	content: "₽";
}

ol.counter {
	list-style-type: none;
	counter-reset: item;
}

ol.counter li {
	position: relative;
	padding: 0px 0px 0px 45px;
}

ol.counter li:before {
	counter-increment: item;
	content: counter(item);
	position: absolute;
	left: 0;
	top: 0;
	color: #818181;
	font-size: 14px;
	font-weight: 700;
	text-align: center;
	line-height: 26px;
	border-radius: 50%;
	width: 28px;
	height: 28px;
	border: 1px solid #4274bb;
}

.ellipsis {
	display: block;
	overflow: hidden;
	width: 100%;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
}

.es {
	overflow: hidden;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
}

.table {
	display: table;
	font-size: 0;
	width: 100%;
}

.trow {
	display: table-row;
}

.cell {
	display: table-cell;
}

.cell.full {
	width: 100%;
}

._ibg {
	position: relative;
}

._ibg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	-o-object-fit: cover;
	object-fit: cover;
}

body.ie ._ibg {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

body.ie ._ibg img {
	width: 0;
	height: 0;
	opacity: 0;
	visibility: hidden;
}

._video {
	position: relative;
	overflow: hidden;
	height: 0;
	padding-bottom: 56.25%;
}

._video video,
._video iframe,
._video object,
._video embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
	position: fixed;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	background-size: cover;
}

._more-content {
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	overflow: hidden;
}

._more-link {
	cursor: pointer;
}

._more-link span {
	font-style: normal;
}

._more-link span:first-child {
	display: block;
}

._more-link span:last-child {
	display: none;
}

._more-link._active span {
	font-style: normal;
}

._more-link._active span:first-child {
	display: none;
}

._more-link._active span:last-child {
	display: block;
}

#map {
	background: url("../img/icons/loading.gif") center/50px no-repeat;
}

._swiper {
	overflow: hidden;
}

._swiper .swiper-wrapper {
	width: 100%;
	height: 100%;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
}

._swiper.swiper-container-vertical .swiper-wrapper {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

._swiper.swiper-container-autoheight .swiper-wrapper {
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
	-ms-flex-negative: 0;
	flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
	-webkit-transform: translate3d(0px, 0, 0);
	transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
	display: none !important;
}

._tabs-block {
	display: none;
}

._tabs-block._active {
	display: block;
}

.mirror {
	-webkit-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
	transform: scale(-1, 1);
}

.nicescroll-rails {
	z-index: 1000 !important;
}

._custom-scroll {
	position: fixed;
	right: 0;
	top: 0;
	width: 3px;
	height: 100%;
	z-index: 1000;
}

._custom-scroll__line {
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 3px 0 0 3px;
	position: relative;
	left: 0;
	top: 0;
	width: 100%;
}

.popup {
	-webkit-overflow-scrolling: touch;
	z-index: 100;
	padding: 30px 10px;
	position: fixed;
	top: 0px;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-transition: visibility 0.8s ease 0s;
	-o-transition: visibility 0.8s ease 0s;
	transition: visibility 0.8s ease 0s;
	visibility: hidden;
}

.popup::before {
	content: "";
	background-color: rgba(0, 0, 0, 0.9);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	-webkit-transition: opacity 0.8s ease 0s;
	-o-transition: opacity 0.8s ease 0s;
	transition: opacity 0.8s ease 0s;
}

.popup.show {
	visibility: visible;
	overflow: auto;
}

.popup.show::before {
	opacity: 1;
}

.popup.show .popup__body {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.popup._active {
	overflow: auto;
	visibility: visible;
}

.popup._active::before {
	opacity: 1;
}

.popup._active .popup__body {
	-webkit-transition: all 0.3s ease 0.2s;
	-o-transition: all 0.3s ease 0.2s;
	transition: all 0.3s ease 0.2s;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.popup__content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	min-height: 100%;
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	width: 100%;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	align-items: center;
}

.popup__body {
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	background-color: #fff;
	padding: 50px;
	width: 100%;
	max-width: 800px;
}

.popup__close {
	width: 15px;
	height: 15px;
	position: absolute;
	top: 0px;
	right: 0px;
	cursor: pointer;
	z-index: 30;
	background: url("../img/icons/close.svg") 0 0 no-repeat;
}

.sticky {
	position: fixed !important;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 999;
	opacity: 0.95;
}

.sticky+.page {
	padding-top: 60px;
}

.icon-menu {
	display: none;
}

/************************************************************************************
HEADER
*************************************************************************************/

.header__body {
	display: -ms-grid;
	display: grid;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-column-gap: 20px;
	-moz-column-gap: 20px;
	column-gap: 20px;
	row-gap: 10px;
	padding-top: 20px;
	-ms-grid-rows: minmax(-webkit-min-content, -webkit-max-content) 10px minmax(-webkit-min-content, -webkit-max-content);
	-ms-grid-rows: minmax(min-content, max-content) 10px minmax(min-content, max-content);
	-ms-grid-columns: minmax(-webkit-min-content, -webkit-max-content) 20px 1fr 20px minmax(-webkit-min-content, -webkit-max-content);
	-ms-grid-columns: minmax(min-content, max-content) 20px 1fr 20px minmax(min-content, max-content);
	grid-template: minmax(-webkit-min-content, -webkit-max-content) minmax(-webkit-min-content, -webkit-max-content)/minmax(-webkit-min-content, -webkit-max-content) 1fr minmax(-webkit-min-content, -webkit-max-content);
	grid-template: minmax(min-content, max-content) minmax(min-content, max-content)/minmax(min-content, max-content) 1fr minmax(min-content, max-content);
}

.header__logo {
	max-width: 200px;
}

.header__logo img {
	width: 100%;
	height: 100%;
}

.header__descr {
	text-align: center;
	font-weight: 700;
	font-size: 32px;
}

.menu {
	background: #ccc;
	margin: 0;
	padding: 0;
	position: relative;
	left: 0;
	z-index: 100;
	background: #2f43ac;
	border-radius: 8px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.4);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.4);
	text-align: center;
	-ms-grid-column: 1;
	-ms-grid-column-span: 3;
	grid-column: 1/4;
}

.menu__body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin: 0;
	padding: 0;
	z-index: 999;
}

.menu__body li {
	display: inline;
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	position: relative;
}

.menu__body li a {
	line-height: 100%;
	font-size: 16px;
	display: block;
	padding: 14px 10px;
	text-decoration: none;
	font-weight: bold;
	margin: 0;
	color: #fff;
}

.menu__body li a:hover,
.header__menu-link_active {
	color: #fff;
	background: #474747;
	background: -webkit-gradient(linear, right top, left top, from(#282828), to(#4f4f4f));
	background: -o-linear-gradient(right, #282828, #4f4f4f);
	background: linear-gradient(-90deg, #282828, #4f4f4f);
	border-radius: 8px;
}

.header__links {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	justify-items: center;
	row-gap: 10px;
}

.header__form {
	padding: 10px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	white-space: nowrap;
	background-color: #2f43ac;
	border-radius: 8px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.4);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.4);
}

.header__form a {
	color: #fff;
}

.header__form:hover {
	color: #ddd;
}

.header__lang {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-column-gap: 5px;
	-moz-column-gap: 5px;
	column-gap: 5px;
}

.header__lang a img {
	width: 26px;
}

/************************************************************************************
FOOTER
*************************************************************************************/

.footer {
	z-index: 20000;
	position: fixed;
	width: 100%;
	bottom: 0px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	margin: 0;
	padding: 0;
	max-width: 980px;
}

.footer__content {
	height: 100%;
}

.footer__body {
	z-index: 10000;
	background-color: #bbb;
	border-radius: 8px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

.footer__list {
	height: 30px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 0 auto;
}

.footer__list a {
	font-size: 16px;
}

.footer__list a:hover {
	color: #fff;
	background-color: #2f43ac;
	border-radius: 8px;
}

/************************************************************************************
CONTENT
*************************************************************************************/

#content {
	-ms-grid-row: 1;
	-ms-grid-column: 3;
	position: relative;
	background: #fff;
	margin: 20px 0px 30px;
	padding: 20px 10px;
	border-radius: 8px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
	grid-area: center;
}

#centercontent {
	background: #fff;
	margin: 20px 0px 30px;
	padding: 20px 10px;
	width: 98%;
	border-radius: 8px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

/************************************************************************************
SIDEBAR
*************************************************************************************/

#sidebar {
	-ms-grid-row: 1;
	-ms-grid-column: 5;
	width: calc(150px + 50 * ((100vw - 320px) / 1600));
	margin: 20px 0 30px;
	grid-area: right;
}

.widget {
	background: #fff;
	margin: 0 0 10px;
	padding: 5px 5px;
	border-radius: 8px;
	background: -webkit-gradient(linear, left bottom, left top, from(#eeeeee), to(#dddddd));
	background: -o-linear-gradient(bottom, #eeeeee, #dddddd);
	background: linear-gradient(0deg, #eeeeee, #dddddd);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.4);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.4);
}

.searchwidget {
	background: #fff;
	margin: 0 0 10px;
	padding: 5px 10px;
	z-index: 39;
	border-radius: 8px;
	z-index: 161;
	background: -webkit-gradient(linear, left bottom, left top, from(#eeeeee), to(#dddddd));
	background: -o-linear-gradient(bottom, #eeeeee, #dddddd);
	background: linear-gradient(0deg, #eeeeee, #dddddd);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.4);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.4);
}

.widgettitle {
	margin: 0 0 5px;
	padding: 0;
}

.widget ul {
	margin: 0;
	padding: 0;
}

.widget li {
	margin: 0;
	padding: 6px 0;
	list-style: none;
	clear: both;
	border-top: solid 1px #eee;
}

.widget h2 a {
	display: block;
	padding: 0px 5px;
	border-radius: 8px;
}

.widget h1 a {
	display: inline-block;
	padding: 0px 5px;
}

.widgetomschrijving {
	padding: 0px 5px;
}

.widget h1 {
	display: block;
	padding: 0px;
	margin: 0;
}

.widget h2 {
	display: block;
	padding: 0px;
	margin: 0;
}

.leftmenu {
	-ms-grid-row: 1;
	-ms-grid-column: 1;
	background: #fff;
	margin: 20px 0 30px 0;
	grid-area: left;
}

.leftmenu__inner {
	padding: 15px 5px 10px 5px;
	background: -webkit-gradient(linear, left bottom, left top, from(#eeeeee), to(#dddddd));
	background: -o-linear-gradient(bottom, #eeeeee, #dddddd);
	background: linear-gradient(0deg, #eeeeee, #dddddd);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.4);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.4);
	border-radius: 8px;
}

.leftmenu__inner li {
	margin-bottom: 4px;
}

.leftmenu__inner li a {
	font-size: 20px;
	display: block;
	font-weight: 700;
	border-radius: 8px;
	width: 92%;
	padding: 2px 5px;
}

.leftmenu__inner li a.active,
.leftmenu__inner li a:hover {
	color: #fff;
	background-color: #2f43ac;
	display: block;
}



.page {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	display: -ms-grid;
	display: grid;
	-webkit-column-gap: 10px;
	-moz-column-gap: 10px;
	column-gap: 10px;
	margin-bottom: 20px;
	grid-template-areas: "left center right";
	width: 100%;
	justify-content: space-between;
	grid-template-columns: minmax(max-content, max-content) 1fr minmax(min-content, max-content);
}

@media (min-width: 991.98px) {

	.quantity__button:hover::before,
	.quantity__button:hover::after {
		background-color: rgba(0, 0, 0, 0.5);
	}
}

@media (min-width: 992px) {
	.select__option:hover {
		background: #d9d9d9;
	}

	.checkbox a:hover {
		text-decoration: none;
	}
}

@media (max-width: 1182px) {
	._container {
		max-width: 970px;
	}
}

@media (max-width: 1170px) {
	.select__value {
		font-size: calc(10px + 4 * ((100vw - 320px) / 850));
	}

	.select__options {
		font-size: calc(10px + 4 * ((100vw - 320px) / 850));
	}

	.checkbox__text {
		font-size: calc(12px + 4 * ((100vw - 320px) / 850));
	}

	.options__text {
		font-size: calc(12px + 4 * ((100vw - 320px) / 850));
	}

	.quantity__input input {
		font-size: calc(8px + 4 * ((100vw - 320px) / 850));
	}

	ol.counter li:before {
		font-size: calc(10px + 4 * ((100vw - 320px) / 850));
	}

	.header__body {
		padding-top: calc(10px + 10 * ((100vw - 320px) / 850));
	}

	.header__logo {
		max-width: calc(100px + 100 * ((100vw - 320px) / 850));
	}

	.header__descr {
		font-size: calc(24px + 8 * ((100vw - 320px) / 850));
	}

	.menu__body li a {
		font-size: calc(12px + 4 * ((100vw - 320px) / 850));
	}

	.footer__list a {
		font-size: calc(8px + 8 * ((100vw - 320px) / 850));
	}

	.leftmenu__inner li a {
		font-size: calc(16px + 4 * ((100vw - 320px) / 850));
	}
}

@media (max-width: 991.98px) {
	._container {
		max-width: 750px;
	}

	.select__title {
		font-size: 18px;
	}

	.select__options {
		font-size: 18px;
	}
}

@media (max-width: 991.98px) and (max-width: 1170px) {
	.select__title {
		font-size: calc(14px + 4 * ((100vw - 320px) / 850));
	}

	.select__options {
		font-size: calc(14px + 4 * ((100vw - 320px) / 850));
	}
}

@media (max-width: 767.98px) {
	._container {
		max-width: none;
		padding: 0 10px;
	}

	.icon-menu {
		display: block;
		position: absolute;
		top: 0;
		left: 10px;
		width: 30px;
		background: #9a9a9a;
		height: 26px;
		cursor: pointer;
		z-index: 5;
		border-radius: 5px;
	}

	.icon-menu span {
		-webkit-transition: all 0.3s ease 0s;
		-o-transition: all 0.3s ease 0s;
		transition: all 0.3s ease 0s;
		top: calc(50% - 1px);
		left: 50%;
		-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		transform: translateX(-50%);
		position: absolute;
		width: 80%;
		height: 2px;
		border-radius: 2px;
		background-color: #fff;
	}

	.icon-menu span:first-child {
		top: 5px;
	}

	.icon-menu span:last-child {
		top: auto;
		bottom: 5px;
	}

	.icon-menu._active span {
		-webkit-transform: scale(0);
		-ms-transform: scale(0);
		transform: scale(0);
		left: 3px;
	}

	.icon-menu._active span:first-child {
		-webkit-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		transform: rotate(-45deg);
		top: calc(50% - 1px);
	}

	.icon-menu._active span:last-child {
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
		bottom: calc(50% - 1px);
	}

	.menu__body {
		position: fixed;
		right: -100%;
		top: 0;
		background: -webkit-gradient(linear, right top, left top, from(#e9e9e9), to(#bababa));
		background: -o-linear-gradient(right, #e9e9e9, #bababa);
		background: linear-gradient(-90deg, #e9e9e9, #bababa);
		-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.4);
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.4);
		width: 250px;
		height: 100vh;
		-webkit-transition: 0.3s all ease-in;
		-o-transition: 0.3s all ease-in;
		transition: 0.3s all ease-in;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}

	.menu__body._active {
		right: 0;
	}

	.menu__body li a {
		text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
		color: #2f43ac;
	}

	.menu {
		background: transparent;
		-webkit-box-shadow: none;
		box-shadow: none;
		height: 27px;
	}

	.menu.sticky {
		background: #fff;
		padding: 10px 0;
		height: 47px;
	}

	.menu.sticky .icon-menu {
		top: 10px;
		left: 10px;
	}

	.menu.sticky .header__form {
		left: 45px;
	}

	.menu.sticky .searchwidget {
		right: 10px;
	}

	.header__form {
		width: -webkit-max-content;
		width: -moz-max-content;
		width: max-content;
		left: 50px;
		position: absolute;
		height: 26px;
	}

	.header__form a {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		font-size: 16px;
	}

	.header__lang {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		row-gap: 5px;
	}

	#sidebar {
		width: 100%;
		margin-top: 0;
	}

	.searchwidget {
		position: absolute;
		right: 0;
		padding: 0;
		width: 200px;
	}

	.searchwidget__inner {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		padding: 3px;
		-webkit-column-gap: 5px;
		-moz-column-gap: 5px;
		column-gap: 5px;
	}

	.searchwidget input {
		height: 20px;
	}

	.page {
		grid-template-areas: "left center""... right";
		grid-template-columns: minmax(max-content, max-content) 1fr;
	}

	#content {
		-ms-grid-row: 1;
		-ms-grid-column: 2;
	}

	#sidebar {
		-ms-grid-row: 2;
		-ms-grid-column: 2;
	}

	.leftmenu {
		-ms-grid-row: 1;
		-ms-grid-column: 1;
	}
}

@media (max-width: 767.98px) and (max-width: 1170px) {
	.header__form a {
		font-size: calc(12px + 4 * ((100vw - 320px) / 850));
	}

	.searchwidget {
		width: calc(135px + 65 * ((100vw - 320px) / 850));
	}
}

@media (max-width: 479.98px) {
	.icon-menu {
		left: 0;
	}

	.header__form {
		left: 35px;
	}

	.leftmenu {
		width: 100%;
		margin-bottom: 0;
	}

	.page {
		grid-template-areas: "left""center""right";
		grid-template-columns: 1fr;
	}

	#content {
		-ms-grid-row: 2;
		-ms-grid-column: 1;
	}

	#sidebar {
		-ms-grid-row: 3;
		-ms-grid-column: 1;
	}

	.leftmenu {
		-ms-grid-row: 1;
		-ms-grid-column: 1;
	}
}



/* Taxonomy styles */

.page-wrapper {
	display: grid;
	grid-template: 150px / repeat(auto-fill, 150px);
	gap: 10px;
	grid-auto-rows: 150px;
	justify-content: space-evenly;
	align-items: center;
	align-content: center;
	justify-items: center;
	margin-top: 20px;
}

.taxonomy__item {
	position: relative;
	display: flex;
	text-align: center;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 150px;
	min-height: 150px;
	padding: 10px;
	z-index: 10;
	font-size: 12px;
	background-color: #fff;
	/* rounded corner */
	border-radius: 8px;
	/* box shadow */
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

.taxonomy__item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}


/* ajax search */

.search-form {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.search-form__input {
	width: 80%;
	font-size: 12px;
	height: 26px;
	padding: 0 5px;
}

.ajax-search {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	right: 0;
	background: #fff;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	margin-top: 5px;
	max-height: 230px;
	overflow-x: hidden;
	overflow-y: auto;
	z-index: 100;
	margin: 0;
	padding: 0;
	font-size: 14px;
	color: #424348;
	scrollbar-color: dark;
	scrollbar-width: thin;
	overscroll-behavior: contain;
}

.ajax-search__img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.ajax-search::-webkit-scrollbar {
	width: 6px;
	background-color: #eff2f3;
}

.ajax-search::-webkit-scrollbar-thumb {
	background-color: #dddddd;
	border-radius: 4em;
}

.ajax-search__item {
	position: relative;
	border-top: 1px solid rgba(224, 229, 231, 0.5);
	padding: 10px 15px;
	cursor: pointer;
	list-style-type: none;
}

.ajax-search__link {
	color: var(--accent);
	line-height: 130%;
	margin-bottom: 10px;
	font-size: 13px;
	display: block;
}

.ajax-search__excerpt {
	cursor: default;
	font-size: 11px;
	line-height: 140%;
}

.ajax-search__not-found {
	font-size: 12px;
}

/* Страница записи */

.post__wrapper {
	display: grid;
	grid:
		"title title" minmax(min-content, max-content)
		"post thumbnail" minmax(min-content, max-content)
		"post thumbnail" minmax(min-content, max-content)
		/ 1fr minmax(min-content, max-content);
		gap: 20px
}

.post__title {
	grid-area: title;
	font-weight: 700;
	font-size: 24px;
}

.post__thumbnail {
	grid-area: thumbnail;
	width: 200px;
	height: 200px;
}

@media (max-width: 991.98px) {
	.post__wrapper{
		grid: 
		"title"
		"thumbnail"
		"post";
		justify-items: center;
	}
	.post__thumbnail{
		width: 100%;
	}
}

.post__thumbnail img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.post__content {
	grid-area: post;
}

/* Search */

@media only screen and (max-width: 960px) {
	div[id*='ajaxsearchlite'].wpdreams_asl_container {
		 width: auto !important;
		 margin: 0 !important;
	}
}